<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
	<meta>
		<identity>
			<uri>urn:org:netkernel:lang:kotlin</uri>
			<version>1.0.0</version>
		</identity>
		<info>
			<name>Lang / Kotlin</name>
			<description>Run Kotlin Script</description>
		</info>
	</meta>
	<system>
		<classloader>
			<exports>
				<match>jet\..*</match>
				<match>kotlin\..*</match>
				<match>org\.netkernel\.lang\.kotlin\..*</match>
			</exports>
		</classloader>
		<dynamic/>
	</system>

	<rootspace>
		<accessor>
			<id>kotlin:runtime</id>
			<grammar>
				<active>
					<identifier>active:kotlin</identifier>
					<argument name="operator"/>
					<varargs/>
				</active>
			</grammar>
			<class>org.netkernel.lang.kotlin.script.ScriptRuntimeAccessor</class>
		</accessor>
		<transreptor>
			<class>org.netkernel.lang.kotlin.script.ScriptTransreptor</class>
		</transreptor>
		<representation>
			<class>org.netkernel.lang.kotlin.script.ScriptRepresentation</class>
		</representation>

		<import>
			<uri>urn:org:netkernel:mod:hds</uri>
			<private/>
		</import>
	</rootspace>
</module>
