<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
	<meta>
		<identity>
			<uri>urn:org:netkernel:lang:kotlin</uri>
			<version>1.0.0</version>
		</identity>
		<info>
			<name>Lang / Kotlin™</name>
			<description>Standard library for Kotlin and Kotlin Script runtime</description>
			<icon>res:/org/netkernel/lang/kotlin/img/icon.png</icon>
		</info>
	</meta>
	<system>
		<classloader>
			<exports>
				<match>jet\..*</match>
				<match>kotlin\..*</match>
				<match>org\.jetbrains\..*</match>
				<match>org\.netkernel\.lang\.kotlin\..*</match>
			</exports>
		</classloader>
		<dynamic />
	</system>

	<rootspace>
		<accessor>
			<id>KotlinScriptRuntime</id>
			<grammar>
				<active>
					<identifier>active:kotlinScript</identifier>
					<argument name="operator" desc="Kotlin Script to run">
						<representation>org.netkernel.lang.kotlin.script.ScriptRepresentation</representation>
					</argument>
					<argument name="scriptRuntimeSettings" min="0" max="1" desc="Optional configuration for the runtime">
						<representation>org.netkernel.lang.kotlin.script.NetKernelScriptRuntimeSettings</representation>
					</argument>
					<varargs />
				</active>
			</grammar>
			<class>org.netkernel.lang.kotlin.script.ScriptRuntimeAccessor</class>
			<name>KotlinScriptRuntime</name>
			<description>Kotlin Script Runtime</description>
			<icon>res:/org/netkernel/lang/kotlin/img/icon.png</icon>
		</accessor>
		<accessor>
			<id>KotlinScriptCompile</id>
			<grammar>
				<active>
					<identifier>active:kotlinScriptCompile</identifier>
					<argument name="operator" desc="Kotlin Script to compile"/>
					<argument name="scriptRuntimeSettings" min="0" max="1" desc="Optional configuration for the runtime">
						<representation>org.netkernel.lang.kotlin.script.NetKernelScriptRuntimeSettings</representation>
					</argument>
					<varargs />
				</active>
			</grammar>
			<class>org.netkernel.lang.kotlin.script.ScriptCompileAccessor</class>
			<name>KotlinScriptRuntime</name>
			<description>Kotlin Script Runtime</description>
			<icon>res:/org/netkernel/lang/kotlin/img/icon.png</icon>
		</accessor>

		<accessor>
			<id>KotlinInlineRequest</id>
			<grammar>
				<active>
					<identifier>active:inlineKotlin</identifier>
					<argument name="operator" />
					<varargs />
				</active>
			</grammar>
			<class>org.netkernel.lang.kotlin.inline.InlineKotlinAccessor</class>
			<name>KotlinInlineRequest</name>
			<description>Run Kotlin lambdas as NetKernel requests</description>
		</accessor>

		<accessor>
			<class>org.netkernel.lang.kotlin.wiki.KotlinMacroAccessor</class>
			<grammar>
				<active>
					<identifier>active:wikiTemplateEngine/KOTLIN/XHTML</identifier>
					<identifier>active:wikiTemplateEngine/KOTLIN/DOCBOOK</identifier>
					<argument name="operand" min="1" max="1"/>
				</active>
			</grammar>
		</accessor>

		<representation>
			<id>KotlinScriptCompiledRepresentation</id>
			<class>org.netkernel.lang.kotlin.script.ScriptRepresentation</class>
			<description>Compiled form of Kotlin Script</description>
		</representation>

		<representation>
			<id>NetKernelScriptRuntimeSettings</id>
			<class>org.netkernel.lang.kotlin.script.NetKernelScriptRuntimeSettings</class>
			<description>Custom runtime configuration for Kotlin Scripts</description>
		</representation>

		<transreptor>
			<id>KotlinScriptCompiler</id>
			<class>org.netkernel.lang.kotlin.script.ScriptTransreptor</class>
			<description>Kotlin Script compiler</description>
		</transreptor>

		<fileset>
			<id>DocMetadata</id>
			<name>Documentation Metadata</name>
			<regex>res:/etc/system/(Docs|Books|CDEPalette).xml</regex>
		</fileset>
		<fileset>
			<id>Doc</id>
			<name>Documentation</name>
			<regex>res:/org/netkernel/lang/kotlin/doc/.*</regex>
		</fileset>
		<fileset>
			<id>Icon</id>
			<name>Kotlin Script icon</name>
			<regex>res:/org/netkernel/lang/kotlin/img/icon.png</regex>
		</fileset>

		<import>
			<uri>urn:org:netkernel:mod:hds</uri>
			<private />
		</import>

		<import>
			<uri>urn:org:netkernel:ext:layer1</uri>
			<private />
		</import>
	</rootspace>

	<rootspace uri="urn:org:netkernel:lang:kotlin:dokka" public="true">
		<fileset>
			<regex>res:/etc/system/SimpleDynamicImportHook.xml</regex>
		</fileset>

		<fileset>
			<id>KotlinDokka</id>
			<name>Generated Kotlin Documentation</name>
			<regex>res:/dokka/.*</regex>
		</fileset>
	</rootspace>
</module>
